:root {
  --light: #faf4ed;
  --dark: #575279;
  --secondary: #d7827e;
  --tertiary: #907aa9;
  --visited: #56949f;
  --primary: #286983;
  --gray: #797593;
  --lightgray: #f4ede8;
  --outlinegray: #f2e9e1;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #191724 !important;
  --dark: #e0def4 !important;
  --secondary: #ebbcba !important;
  --visited: #9ccfd8 !important;
  --tertiary: #c4a7e7 !important;
  --primary: #31748f !important;
  --gray: #908caa !important;
  --lightgray: #403d52 !important;
  --outlinegray: #524f67 !important;
}

#cecilia {
  //margin: 3em 0;
  filter: invert(0%);
  //opacity: .85;
}

[saved-theme=dark] #cecilia {
  filter: invert(100%)
}

