<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        <div class="content-list">
          <h2>✏ archive</h2>
          {{$notes := .Site.RegularPages}}
          {{partial "page-list.html" ($notes)}}
        </div>
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
